button {
  background-color: #f6f6d7;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 1.2rem;
}

.bottom-bar {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 0px;

  z-index: 100;

  display: flex;
  justify-content: end;
  padding: 5px 0;
  margin-right: 20px;
}
.phone-btn {
  background-color: green;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px 25px;
  border-radius: 50px;

  gap: 10px;
  box-shadow: 0px 1px 1px 1px rgba(255, 255, 255, 0.5);
}

header {
  background-image: url("./../img/header-bg.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  background-blend-mode: darken;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;
  animation: fadeIn 0.3s linear 0.5s forwards;
}

@media (max-width: 600px) {
  header {
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header--social-icons {
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
}
.header--social-icons i {
  cursor: pointer;
  color: #f6f6d7;
}

.header--nav {
  display: flex;
  align-items: center;
}

.header--nav ul {
  display: flex;
  gap: 20px;
}

.header--nav ul a {
  color: #f6f6d7;
}

.header--nav ul a:hover {
  color: yellow;
}

.container {
  padding: 0 50px;
}

.container--inner {
  margin: 0 auto;
  max-width: 1300px;
}

.hero-section {
  background-image: url("./../img/hero-bg.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  background-blend-mode: darken;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s linear 1s forwards;
}

.hero-logo {
  width: 300px;
}

.hero-section--content {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.hero-section--drawer {
  position: absolute;
  bottom: -100px;
  background-color: #f6f6d7;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.hero-section--drawer img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 600px) {
  .hero-section--drawer img {
    width: 80px;
    height: 150px;
  }
}
.about-section .container--inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
}
.about-section h2 {
  color: rgb(134, 76, 1);
}
.about-section .container--inner div {
  width: 100%;
}

.about-section img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section p {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 600px) {
  .about-section .container--inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 300px;
    gap: 50px;
  }
}

.icon-box-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;

  background-color: #f6f6d7;
  padding: 40px;
  border-radius: 30px;
}

.icon-box-section .icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-box--icon {
  font-size: 3rem;
  color: rgb(134, 76, 1);
}
.icon-box--title {
  color: rgb(134, 76, 1);
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .icon-box-section {
    flex-direction: column;
  }
}

.service-section--inner {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 20px;
}

@media (max-width: 600px) {
  .service-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.contact-section {
  background-color: gray;
  border-radius: 30px;
  background-image: url("../img/kitchen1.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-blend-mode: darken;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.contact-map {
  background-color: gray;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.contact-form-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.contact-form-section h3 {
  font-size: 2rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact-form-field {
  padding: 4px;
  font-family: "Roboto", sans-serif;
  outline: none;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .contact-section {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}

textarea {
  height: 100px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
}

footer .logo {
  width: 200px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 30px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-contact-section {
  color: white;
}
.footer-contact-section a {
  color: white;
  margin-left: 5px;
}

.footer-service-section ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.annotation {
  border-top: 1px solid white;
  padding-top: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
