.spacer {
  padding: 80px 0;
}

.spacer-sm {
  padding: 10px 0;
}
.spacer-md {
  padding: 20px 0;
}
.spacer-lg {
  padding: 30px 0;
}

.divider {
  height: 2px;
  width: 50px;
  margin-bottom: 10px;
  background-color: white;
}
